<html>

<head>
    <title>
        <%= title  %>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/user_profile.css">
    <%- style %>
</head>

<body>
    <!-- <div id="layout-header"> -->
    <%- include('_header'); %>
        <!-- </div> -->

        <main id="layout-main">
            <%- body %>
        </main>

        <!-- <div id="layout-footer"> -->
        <%- include('_footer'); %>
            <!-- </div> -->


            <%- script %>

</body>

</html>